.list-button {
    border-radius: 10px;
    border-color: currentColor;
    height: 30px;

    transition-property: background-color;
    transition-duration: 350ms;

    &:hover {
        background-color: aliceblue;
    }
}

.header-form {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.header-form__input {
    border-radius: 10px;
    border-color: currentColor;
    height: 30px;
}

.programmers-list {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: flex-start;
    gap: 10px;
    row-gap: 10px;
}

.list-empty {
    text-align: center;
}

.programmer-card {
    padding: 5px;
    width: 100%;
}

.programmer-card__title-group {
    align-items: center;
}

.programmer-card__name {
    max-width: 255ch;
}

.programmer-card__username {
    max-width: 255ch;
}

.programmer-card__avatar {
    margin: 0;
}

.programmer-card__commit-ref {
    text-decoration: none;
}

.programmer-card__actions {
    justify-content: flex-end;
    gap: 3px;
}

.programmer-card__compare-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.programmer-card__compare-button_active {
    background-color: rgba($color: tomato, $alpha: 0.25);

    &:hover {
        background-color: rgba($color: tomato, $alpha: 0.75);
    }
}

.programmer-card__details-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
